<main class="home-page">
  <header class="home-header">
    <div>
  <h1>Bubble Teas</h1>

  @if (authService.currentUser(); as user) {
    <p>Sesión iniciada como {{ user.displayName || user.email }}</p>
  }
</div>

  <button mat-flat-button color="primary" type="button" (click)="logout()">Cerrar sesión</button>
</header>

<section class="bubble-tea-list" aria-label="Listado de bubble teas">
    @for (bubbleTea of bubbleTeas; track bubbleTea.id) {
      <a class="bubble-tea-card" [routerLink]="['/bubble-teas', bubbleTea.id]">
        <img [src]="bubbleTea.imageUrl" [alt]="bubbleTea.name" />

        <div>
          <h2>{{ bubbleTea.name }}</h2>
          <p>{{ bubbleTea.flavor }}</p>
          <strong>{{ bubbleTea.price }} €</strong>
        </div>
      </a>
    }
  </section>
</main>
